[access "refs/*"]
	owner = group user/ronblanchard1 (ronblanchard1)
[access "refs/for/refs/*"]
	read = group user/ronblanchard1 (ronblanchard1)
	push = group user/ronblanchard1 (ronblanchard1)
	label-Code-Review = -2..+2 group user/ronblanchard1 (ronblanchard1)
	label-Verified = -1..+1 group user/ronblanchard1 (ronblanchard1)
	rebase = group user/ronblanchard1 (ronblanchard1)
	removeReviewer = group user/ronblanchard1 (ronblanchard1)
	submit = group user/ronblanchard1 (ronblanchard1)
[access "refs/heads/*"]
	read = group user/ronblanchard1 (ronblanchard1)
	create = group user/ronblanchard1 (ronblanchard1)
	push = +force group user/ronblanchard1 (ronblanchard1)
	pushMerge = group user/ronblanchard1 (ronblanchard1)
[access "refs/tags/*"]
	push = +force group user/ronblanchard1 (ronblanchard1)
	pushTag = group user/ronblanchard1 (ronblanchard1)
	pushSignedTag = group user/ronblanchard1 (ronblanchard1)
